.hp-field {
  position: absolute;
  top: 70px;
  right: 80px;
  display: flex;
  gap: 10px;
}

.hp-field.heartBroken > div:nth-child(1) {
  animation: heartBroken 0.2s infinite;
}

@keyframes heartBroken {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

.hp-field img {
  width: 30px;
  height: 30px;
  color: #ff0000;
  animation: scaleAnimation 1s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
