html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
  justify-content: center;
  align-items: center;
  background-color: #0075ff;
}

.nav {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 10px 33px 5px;
  background-color: #0075ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .homeBtn img {
  cursor: pointer;
  margin-top: 10px;
}

.nav .navbar img {
  width: 40px;
}

.quiz {
  position: relative;
  width: 1200px;
  height: 630px;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: -80px;
  padding: 40px;
  border-radius: 40px;
  overflow: hidden;
}

.toast {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.toast .message {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 250px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin-top: 10px;
  transition: bottom 1s;
}

.toast .message svg {
  width: 20px;
  margin-left: 20px;
  margin-right: 5px;
}

.toast .bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  transition: width 1s;
}

.left-section {
  width: 590px;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section .img-box {
  height: 100%;
  width: 100%;
  background-size: contain;
  /* object-fit: cover; */
  background-repeat: no-repeat;
  background-position: center;
}

.right-section {
  position: relative;
  width: 610px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hp-field {
  position: absolute;
  top: 70px;
  right: 80px;
  display: flex;
  gap: 10px;
}

.hp-field.heartBroken > div:nth-child(1) {
  animation: heartBroken 0.2s infinite;
}

@keyframes heartBroken {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

.hp-field img {
  width: 30px;
  height: 30px;
  color: #ff0000;
  animation: rotateAnimation 1s infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.quiz-form .quiz-input {
  width: 480px;
  font-size: 32px;
  border: none;
  outline: none;
  text-align: center;
  caret-color: #888;
  letter-spacing: 2px;
}

.quiz-timer {
  width: 480px;
  height: 8px;
  border-radius: 40px;
  margin-top: 20px;
}

.quiz-timer .current-timer {
  width: 100%;
  height: 100%;
  background-color: #0075ff;
  margin: 0 auto;
  border-radius: 40px;
  transition: all 1s linear;
}

.quiz-answer {
  margin-bottom: 50px;
  width: 630px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-answer > div {
  width: 62px;
  height: 100%;
  background-color: #ffc700;
  border: 4px solid #000;
  border-radius: 17px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.quiz-answer > div:nth-child(1) {
  margin-left: 10px;
}

.quiz-answer > div.green {
  background-color: #4dbf77;
  color: #fff;
}

.quiz-answer > div.red {
  background-color: #e63946;
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .quiz {
    width: 1000px;
    height: 80%;
    margin-top: 0;
    padding-top: 40px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1024px) {
  .left-section {
    width: 1024px;
  }
  .right-section {
    width: 1024px;
  }

  .quiz {
    width: 770px;
    height: 75%;
    margin-top: 0;
    padding-top: 40px;
    box-sizing: border-box;
  }

  .hp-field {
    top: 90px;
    right: 60px;
  }

  .quiz-answer {
    width: 400px;
    height: 50px;
  }

  .quiz-answer > div {
    width: 50px;
    font-size: 25px;
    border: 3px solid #000;
  }

  .quiz-form .quiz-input {
    width: 400px;
  }

  .quiz-timer {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .left-section {
    width: 768px;
  }
  .right-section {
    width: 768px;
  }

  .quiz {
    width: 490px;
    height: 90%;
    margin-top: 0;
    border-radius: 10px;
    padding-top: 40px;
    box-sizing: border-box;
    flex-direction: column;
  }

  .hp-field {
    top: 20px;
    right: 200px;
  }
}

@media screen and (max-width: 480px) {
  .left-section {
    width: 300px;
  }
  .right-section {
    width: 480px;
  }

  .quiz {
    width: 100%;
    height: 100%;
    margin-top: 0;
    border-radius: 0;
    padding-top: 40px;
    box-sizing: border-box;
    flex-direction: column;
  }

  .quiz-answer {
    width: 350px;
    height: 42px;
  }

  .quiz-answer > div {
    width: 42px;
    height: 42px;
    font-size: 25px;
    border: 3px solid #000;
  }

  .hp-field {
    position: fixed;
    top: 90%;
    right: 20px;
  }

  .quiz-timer {
    width: 300px;
  }
}
