html {
  background-color: #0075ff;
  width: 1280px;
  height: 720px;
}

#navbar {
  width: 1280px;
  height: 68px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navimg {
  background-image: url('../../public/wit.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 57px;
  height: 42px;
}

#container {
  width: 1167px;
  height: 577px;
  background-color: white;
  border-radius: 30px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-size: 32px;
}

#scorebox {
  border-left: 4px black solid;
  border-right: 4px black solid;
}
#recordbox,
#scorebox,
#sharebox {
  width: 370px;
  height: 560px;
}

#lefthp,
#correctquiz,
#time {
  width: 350px;
  height: 180px;

  display: inline-block;
  justify-content: space-between;
  align-items: center;
}
#scorebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scorebox > img {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  background-color: goldenrod;
}

#mainscore {
  font-size: 75px;
}

#username,
#commend {
  font-size: 21px;
}
#sharebox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#togooz,
#togohome,
#togolink {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: none;
}

#togooz {
  background-color: #9d9d9d;
}

#togohome {
  background-color: #ffc700;
}
#togolink {
  background-color: black;
}
