* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #0075ff;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;

  padding: 0px 70px 70px 70px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#navbar {
  width: 100%;
  height: 8%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navimg {
  background-image: url('../../images/wit.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 57px;
  height: 42px;
}

#container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-size: 32px;
  margin-left: 30px;
}

#scorebox,
#sharebox {
  border-left: 4px rgb(171, 171, 171) solid;
}

#recordbox,
#scorebox,
#sharebox {
  width: 100%;
  height: 560px;
}

#lefthp,
#correctquiz,
#time {
  width: 350px;
  height: 180px;

  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

#lefthp > p {
  margin-top: 25px;
  margin-left: 15px;
  font-size: 50px;
  display: inline-block;
}
#correctquiz > p {
  font-size: 64px;
  font-weight: bold;
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 20px;
}
#time > p {
  font-size: 64px;
  font-weight: bold;
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 20px;
}

#username > p {
  font-size: 26px;
  margin-top: 30px;
}

#scorebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scorebox > img {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  background-image: url('../../images/usericon.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#mainscore {
  font-size: 75px;
  font-weight: bold;
  margin: 20px;
}

#username,
#commend {
  font-size: 21px;
}
#sharebox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#togooz,
#togohome,
#togolink {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

#togooz {
  background-color: #9d9d9d;
  color: white;
}

#togohome {
  background-color: #ffc700;
  color: white;
}
#togolink {
  background-color: black;
  color: white;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    width: 390px;
    height: 844px;
  }
  #container {
    width: 313px;
    height: 507px;
    display: block;
  }
  #navbar {
    padding: 10px;
  }
  #recordbox {
    display: none;
  }

  #scorebox,
  #sharebox {
    border: none;
  }
  #scorebox {
    display: inline;
    text-align: center;
    margin-top: 70px;
  }
  #sharebox {
    display: inline-block;
    width: 313px;
    height: 100px;
    text-align: center;
    margin-top: 70px;
  }

  #scorebox > img {
    width: 100px;
    height: 100px;
    margin-left: 110px;
    margin-top: 50px;
  }

  #mainscore {
    font-size: 45px;
  }

  #username,
  #commend {
    font-size: 14px;
  }

  #togooz,
  #togohome,
  #togolink {
    width: 60px;
    height: 60px;
    font-size: 13px;
  }
}
