* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #0075ff;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;

  padding: 30px 70px 70px 70px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar {
  width: 100%;
  height: 8%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navimg {
  background-image: url('/src/images/wit.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 57px;
  height: 42px;
}

#container {
  width: 1100px;
  height: 750px;
  background-color: white;
  border-radius: 30px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-size: 32px;
  margin-left: 30px;
}

#scorebox,
#sharebox {
  border-left: 4px rgb(171, 171, 171) solid;
}

#recordbox,
#scorebox,
#sharebox {
  margin-left: 30px;
  width: 100%;
  height: 600px;
}
#recordbox {
  padding-top: 40px;
}
#scorebox {
  margin-left: 20px;
  padding-left: 15px;
}
#sharebox {
  margin: 0;
}

#lefthp1,
#correctquiz,
#time {
  width: 350px;
  height: 180px;

  display: inline-block;
  justify-content: space-between;
  align-items: center;
}
#lefthp1 {
  width: 350px;
  height: 160px;
}

#lefthp1 > p {
  margin-top: 25px;
  margin-left: 15px;
  font-size: 50px;
  display: inline-block;
  flex-direction: column;
  align-items: end;
}
#correctquiz > p {
  font-size: 64px;
  font-weight: bold;
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 20px;
}
#correctquiz > h2 {
  margin-top: 20px;
}
#time > p {
  font-size: 64px;
  font-weight: bold;
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 20px;
}
#time > h2 {
  margin-top: 20px;
}
.buttongraymedium {
  width: 130px;
  height: 130px;
}

#username > p {
  font-size: 26px;
  margin-top: 30px;
}

#scorebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scorebox > img {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  background-image: url('/src/images/usericon.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#mainscore {
  font-size: 75px;
  font-weight: bold;
  margin: 20px;
}

#username,
#commend {
  font-size: 21px;
}
#sharebox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#togooz,
#togohome,
#togolink {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 15px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
#togooz:hover,
#togohome:hover,
#togolink:hover {
  transform: scale(1.1, 1.1);
}
#togooz {
  background-color: black;
}

#togooz > p {
  color: white;
  font-size: 66px;
}

#togohome {
  background-image: url(/src/images/github1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#togolink {
  background-image: url(/src/images/capture.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    width: 390px;
    height: 844px;
  }
  #container {
    width: 313px;
    height: 700px;
    display: block;
  }
  #navbar {
    padding: 10px;
  }
  .buttongraymedium {
    width: 62px;
    height: 62px;
  }

  #scorebox,
  #sharebox {
    border: none;
  }
  #scorebox {
    display: inline;
    text-align: center;
    margin-top: 100px;
  }
  #sharebox {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: row;
    width: 313px;
    height: 150px;
    text-align: center;
    margin: 0;
  }

  #scorebox > img {
    width: 100px;
    height: 100px;
    margin-left: 80px;
    margin-top: 50px;
  }

  #mainscore {
    font-size: 45px;
  }
  #recordbox {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 400px;
    padding: 0;
    margin: 0;
    width: 313px;
    height: 100px;
    margin-top: 30px;
  }
  #lefthp1 {
    width: 100px;
    height: 100px;
    padding: 1px;
    padding-left: 2px;
  }
  #recordbox > #lefthp1 {
    width: 100px;
    height: 100px;
  }
  #recordbox > #lefthp > h2 {
    font-size: 16px;
  }
  #recordbox > #lefthp > #lefthp1 > p {
    font-size: 15px;
    padding: 1px;
    margin: 0;
  }
  #recordbox > #correctquiz {
    width: 100px;
    height: 100px;
  }
  #recordbox > #correctquiz > h2 {
    font-size: 16px;
    margin: 0;
  }
  #recordbox > #correctquiz > p {
    width: 70px;
    font-size: 15px;
    margin-left: 0px;
    padding: 0;
  }
  #recordbox > #time {
    width: 100px;
    height: 100px;
  }
  #recordbox > #time > h2 {
    font-size: 16px;
    margin: 0;
  }
  #recordbox > #time > p {
    font-size: 15px;
    margin-top: 20px;
    margin-right: 50px;
    width: 75px;
  }
  #time,
  #correctquiz {
    border-left: 1px gray solid;
  }
  #time > h2,
  p {
    padding-left: 15px;
  }
  #correctquiz > h2,
  p {
    padding-left: 15px;
  }

  #username,
  #commend {
    font-size: 14px;
  }
  #togooz > p {
    font-size: 40px;
    padding: 0;
  }

  #togooz,
  #togohome,
  #togolink {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    font-size: 10px;
    justify-content: space-around;
  }
  #lefthp1 {
    text-align: center; /* 가운데 정렬 추가 */
  }

  #lefthp1 > p {
    display: inline-block; /* inline에서 inline-block으로 변경 */
    margin: 0 5px; /* 좌우 여백을 주어 하트들이 조금 떨어지도록 함 */
  }
}

@media screen and (min-width: 1600px) {
  #sharebox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #container {
    width: 1500px;
  }
  .buttongraymedium {
    width: 160px;
    height: 160px;
  }
  #togooz,
  #togohome,
  #togolink {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: none;
    font-size: 35px;
    font-weight: bold;
    margin: 10px;
  }

  .text {
    font-size: 52px;
    margin-left: 30px;
  }

  #scorebox,
  #sharebox {
    border-left: 5px rgb(171, 171, 171) solid;
  }

  #recordbox,
  #scorebox,
  #sharebox {
    width: 100%;
    height: 600px;
  }

  #lefthp1,
  #correctquiz,
  #time {
    width: 400px;
    height: 180px;

    display: inline-block;
    justify-content: space-between;
    align-items: center;
  }
  #lefthp1 {
    width: 400px;
    height: 140px;
  }

  #lefthp1 > p {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 59px;
    display: inline-block;
  }
  #correctquiz > p {
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: 20px;
  }
  #time > p {
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: 20px;
  }

  #username > p {
    font-size: 35px;
    margin-top: 30px;
  }

  #scorebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #scorebox > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('/src/images/usericon.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #mainscore {
    font-size: 100px;
    font-weight: bold;
    margin: 20px;
  }

  #username,
  #commend {
    font-size: 33px;
  }
}
